.nav{
    width: 1210px;
    height: 48px;
    line-height: 48px;
    margin: 50px auto;
    background-color: #fff;
    display: flex;
}

.li a{
    display: block;
    color: #808080;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
}

.li{
    flex-grow: 1;
    border: 2px #000 solid ;
    border-radius: 20px;
}

.li:hover{
    background-color: #636363;
    color: #fff;
}